.pic {
    display: block;
    position: absolute;
    z-index: 1;
    left: 60px;
    top: 250px;

}
.name {
    display: block;
}
.desc {
    display: block
    text-align: center
}
h1 {
    text-align: center;
}
h2 {
    background: black; color: white;
    font-size: medium;
    text-align: center;
    margin-top: 10px;
    line-height: 700%;
}
ol {
    text-align: center;
    color: white
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    line-height: 2.5em;
    text-align: center;
    background-color: white
}