.pic img {
    display: block;
    position: absolute;
    z-index: 1;
    padding: 35px;
    margin: 35px;
    left: 35px;
    border-radius: 100%;
    border: 30px solid white;
    background-color:green
}
.name {
    display: block;
}
h1 {
    text-align: center;
    margin: 35px;
    padding: 35px;
}
h2 {
    display: block;
    background: black; color: white;
    font-size: medium;
    text-align: center;
    line-height: 800%;
    margin: 35px;
    padding: 35px;
    

}
.lista {
    text-align: center;
    padding: 35px;
    margin: 35px;
}
a:hover {
color: white;
background-color: green;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    line-height: 2.5em;
    text-align: center;
    background-color: white
}
.linkedin-center a {
    display: block;
    text-align: center;
}
.colorgreen {
    color: green;
}